{% extends "base.html" %}
{% block title %}Выйти{% endblock %}

{% block content %}
<h1>Оставить заказ</h1>
<div class="order-info">
<h3>Ваш заказ</h3>
<ul>
{% for item in cart %}
<li>
{{ item.quantity }} x {{ item.product.name }}
<span>${{ item.total_price }}</span>
</li>
{% endfor %}
</ul>
<p>Общая сумма: ${{ cart.get_total_price }}</p>
</div>
<form action="." method="post" class="order-form">
{{ form.as_p }}
<p><input type="submit" value="Оставить заказ"></p>
{% csrf_token %}
</form>
{% endblock %}