{% extends 'base.html' %}
{% block title %}Выход{% endblock %}

{% block content %}
    <h1>Выход из личного кабинета</h1>
    <p>Вы успешно вышли из личного кабинета. Вы можете <a href="{% url "login" %}">авторизоваться снова</a>.</p>
{% endblock %}