{% extends 'base.html' %}
{% block title %}Авторизация пользователя{% endblock %}

{% block content %}
    <h1>Авторизация пользователя</h1>
    {% if form.errors %}
        <p>
        Ваши имя и пароль не совпадают. Попробуйте, пожалуйста, еще раз
        </p>
    {% else %}
        <p>Пожалуйста, используйте следующую форму для авторизации.Если у вас нет аккаунта, вы можете <a href="{% url 'registration' %}">зарегистрироваться здесь</a> </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
{% endblock %}