{% extends 'base.html' %}

{% block title %}Смена Вашего пароля{% endblock %}
{% block content %}
<h1>Изменение пароля</h1>
<p>Используйте форму внизу для того, чтобы поменять пароль</p>
<form action="." method="post">
{{ form.as_p }}
<p><input type="submit" value="Поменять пароль"></p>
{% csrf_token %}
</form>
{% endblock %}