{% extends "base.html" %}
{% block title %}Добро пожаловать{% endblock %}
{% block content %}
<h1>Добро пожаловать {{ new_user.first_name }}!</h1>
<p>Ваш аккаунт успешно создан. Теперь вы можете <a
href="{% url "login" %}">авторизоваться</a>.</p>
{% endblock %}