{% extends "base.html" %}
{% block title %}Создание аккаунта{% endblock %}

{% block content %}
    <h1>Создание аккаунта</h1>
    <p>Чтобы создать аккаунт, пожалуйста, используйте форму внизу</p>
    <form method="post">
    {{ user_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Создать аккаунт"></p>
    </form>
{% endblock %}