@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: url(/static/img/text1.jpg);
}
#pink-header-area {
    background-color: antiquewhite ;
    border: 4px double black;
}
.upper-header-content {
    width: 100%;
	margin: 2px auto;
    display: flex;
    justify-content: space-between;
	height: 1.5rem;
}
.header-auth-links {
	width:80%;
	display: flex;
    justify-content: flex-end;
}
.headerLink{
    float: right;
	min-width: 2.5rem;
	padding: 0 0.875rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem ;
	color: blueviolet;
	font-family: 'Open+Sans', sans-serif;
	font-size: 0.8125rem;
	border-right: solid rgba(255, 255, 255, 0.8) 1px;
}
.lastItem{
	border-right: solid #FFFFFF 0px;
	min-width: 3rem;
}
.dark-blue-footer-area{
	background: rgba(41, 10, 64, 0.68);
}
.footerarea-content{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;
	height: 2.5rem;
    background-color: rgba(41,10,64,0.68);
}
.copyRight{
	margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Open+Sans', sans-serif;
    font-size: 0.8125rem;
}
.footerLinks{
	width:50%;
	display: flex;
}
.footerLink {
    padding: 0 0.875rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Open+Sans', sans-serif;
    font-size: 0.8125rem;
    border: thin;
}
