@import url(http://www.w3.org/TR/CSS21/fonts.html#propdef-font);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
    color: rgba(134, 3, 255, 0.69);
}

a.button, input[type="submit"] {
    color:#fff;
    background:black;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:purple;
    color:plum;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0;
   padding:0;
}


#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}
#subheader {
    border: rgba(41,10,64,0.45) solid;
    background: rgba(161,10,35,0.45);
    color:#444;
    padding:15px 100px;
    overflow:auto;
}
#pink-header-area .upper-header-content .site_name h1 {
    font: "Franklin Gothic Demi";
    padding-top: 15px;
    text-align: left ;
}
#pink-header-area .upper-header-content .site_name h1 a {
    color: #333333;
}
#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:22px;
    margin-right:10%;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding-bottom:100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:rebeccapurple;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    background-color: #FFFFFF;
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    height: 300px;
    width: 300px;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}
#pink-header-area {
    background-color: antiquewhite ;
    border: 4px double black;
}
.upper-header-content {
    width: 100%;
	margin: 2px auto;
    display: flex;
    justify-content: space-between;
	height: 1.5rem;
}
.header-auth-links {
	width:80%;
	display: flex;
    justify-content: flex-end;
}
.headerLink{
    float: right;
	min-width: 2.5rem;
	padding: 0 0.875rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem ;
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Open+Sans', sans-serif;
	font-size: 0.8125rem;
	border-right: solid rgba(255, 255, 255, 0.8) 1px;
}
.lastItem{
	border-right: solid #FFFFFF 0px;
	min-width: 3rem;
}
.footerarea-content{
	margin: 0 auto;
    height: 2.5rem;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
	background: rgba(41, 10, 64, 0.68);
}
.copyRight{
	margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Open+Sans', sans-serif;
    font-size: 0.8125rem;
}
.footerLinks{
	width:50%;
	display: flex;
}
.footerLink {
    float: left;
    padding: 0 0.875rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Open+Sans', sans-serif;
    font-size: 0.8125rem;
    border: thin;
}